<html>
  <head>
    <title>Chatty</title>
    <link rel="stylesheet" href="application.css" type="text/css" />

    <script src="flash_socket/swfobject.js" type="text/javascript"></script>
    <script src="flash_socket/web_socket.js" type="text/javascript"></script>
    <script type="text/javascript">
      WEB_SOCKET_SWF_LOCATION = "flash_socket/WebSocketMain.swf";
    </script>
    <script src="jquery.js" type="text/javascript"></script>
    <script src="application.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="browser-window">
      <div class="chat-box" data-server="<%= @chat_url %>">
        <p class="title">
          Chat
        </p>
        <ul class="history">

        </ul>
        <div class="notification-area">
          <div class="desktop-notification-prompt hidden">
            <a class="trigger" href="">Enable desktop notifications</a>
          </div>
          <div class="status-bar info">
            loading
          </div>
        </div>
        <form class="composer">
          <textarea class="message" autofocus="autofocus" disabled="disabled"
               placeholder="Type your message here. Press Enter to send.">
          </textarea>
        </form>
      </div>
    </div>
  </body>
</html>
