<html>
  <head>
    <title>Chatty</title>
    <link rel="stylesheet" href="application.css" type="text/css" />

    <!--[if IE]>
    <script src="lib/jquery.js" type="text/javascript"></script>
    <![endif]-->
    <![if !IE]>
    <script src="lib/zepto.js" type="text/javascript"></script>
    <![endif]>
    <script src="lib/color.js" type="text/javascript"></script>
    <script src="lib/flash_socket/swfobject.js" type="text/javascript">
    </script>
    <script src="lib/flash_socket/web_socket.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      WEB_SOCKET_SWF_LOCATION = "lib/flash_socket/WebSocketMain.swf";
    </script>
    <script src="application.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="browser-window">
      <div class="chat-box" data-server="<%= @chat_url %>">
        <style type="text/css" scoped="scoped">
        </style>
        <p class="title">
          Chat
        </p>
        <form class="composer">
          <textarea class="message" autofocus="autofocus" disabled="disabled"
               placeholder="Type your message here. Press Enter to send.">
          </textarea>
        </form>
        <div class="notification-area">
          <div class="desktop-notification-prompt hidden">
            <a class="trigger" href="">Enable desktop notifications</a>
          </div>
          <div class="status-bar info">
            loading
          </div>
        </div>
        <ul class="history">

        </ul>
      </div>
    </div>
  </body>
</html>
