<html>
  <head>
    <title>Chatty</title>
    <link rel="stylesheet" href="application.css" type="text/css" />

    <script src="jquery.js" type="text/javascript"></script>
    <script src="application.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="browser-window">
      <form class="login-box" action="/chat" method="POST">
        <p class="field">
          <label for="login_name">Name:</label>
          <input id="login_name" name="name" placeholder="teh_pwnerer"
                 required="required" />
        </p>
        <p class="field">
          <label for="login_room">Room:</label>
          <input id="login_room" name="room" value="main" required="required" />
        </p>
        <p class="field">
          <label for="name_color">Color:</label>
          <select id="name_color" name="name_color" required="required">
            <option value="000000">black</option>
            <option value="264673">blue</option>
            <option value="337326">green</option>
            <option value="4F2E17">coffee</option>
            <option value="6C1313">red</option>
          </select>
        </p>
        <p class="action">
          <button>Sign in</button>
        </p>
      </form>
    </div>
  </body>
</html>
