<html>
  <head>
    <title>WebSocket chat toy</title>
    <link rel="stylesheet" href="chat.css" type="text/css" />

    <script src="jquery.js" type="text/javascript"></script>
    <script src="chat.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="browser-window">
      <div class="chat-box" data-server="<%= @chat_url %>">
        <p class="title">
          Chat
        </p>
        <ul class="history">

        </ul>
        <div class="status-bar info">
          loading
        </div>
        <form class="composer">
          <textarea class="message" autofocus="autofocus" disabled="disabled"
               placeholder="Type your message here. Press Enter to send.">
          </textarea>
        </form>
      </div>
    </div>
  </body>
</html>
