@import 'reset';
@import 'border_radius';
@import 'box_sizing';
@import 'flexbox';

@import 'chat_box';

html, body {
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

#browser-window {
  @include horizontal-flexbox;
  @include flexbox-reverse;

  @include border-box-sizing;
  height: 100%;
  padding: 5px 0 0 0;
}

.chat-box {
  width: 400px;
}

.login-box {
  width: 100%;
}
