.chat-box {
  $active-header-color: hsl(0, 0%, 40%);
  $border-color: hsl(0, 0%, 80%);
  $composer-color: hsl(0, 0%, 50%);
  $message-font-size: 16px;

  @include vertical-flexbox;
  height: 100%;

  border: 1px solid $border-color;
  @include border-radius-top(4px);

  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
               "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: $message-font-size;

  .title-bar {
    padding: 0.2em 0.2em 0 0.4em;

    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;

    .notification-bar {
      display: inline-block;
      > li {
        display: inline-block;
        visibility: hidden;
        min-width: 1.2em;
        text-align: center;

        &.visible {
          visibility: visible
        }
        &.desktop {
          color: hsl(0, 100%, 25%);
          &:hover {
            text-shadow: 1px 1px 0.05em hsl(0, 100%, 5%);
          }
          &:active {
            text-shadow: none;
          }
        }
        &.network-error {
          color: hsl(0, 100%, 25%);
        }
        &.network-ok, &.av-live {
          color: hsl(120, 35%, 35%);
        }
        &.av-error {
          color: hsl(30, 100%, 35%);
        }
      }
    }
  }

  .user-list {
    margin: 0;
    padding: 0.2em 0.5em 0em 0.5em;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;

    li {
      border-top: 1px solid hsl(0, 0%, 95%);
    }
  }

  .history, .composer {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
  }

  .composer {
    padding-top: 2px;

    .message {
      border: 1px solid $composer-color;
      margin: 0;

      font-family: inherit;
      font-size: inherit;
      line-height: 1.2em;

      @include border-box-sizing;
      width: 100%;
      resize: vertical;
      overflow: auto;
      min-height: (4 * 1.2 * $message-font-size);
      max-height: 80%;

      @each $pseudo in "::-webkit-input-placeholder", ":-moz-placeholder",
                       ":-ms-input-placeholder" {
        &#{$pseudo} {
          color: hsl(0, 0%, 50%);
          font-weight: 300;
          text-shadow: none;
        }
      }
    }
  }

  .notification-area {
    border-bottom: 1px solid $border-color;

    .desktop-notification-prompt {
      text-align: center;
      &.hidden {
        display: none;
      }
    }
    .status-bar {
      color: hsl(0%, 0%, 25%);
      text-align: center;
      font-size: 10pt;
      height: 1.2em;
    }
    .status-bar.info {
      color: hsl(132, 70%, 32%);
    }
    .status-bar.error {
      color: hsl(0, 100%, 44%);
    }
  }

  .history {
    padding-top: 2px;
    overflow: auto;
    overflow-x: visible;
    overflow-y: scroll;

    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
    min-height: 0;

    li {
      @include border-radius(2px);
      border-width: 1px;
      border-style: solid;
      padding: 2px 1px;
      margin: 2px 0;
    }

    .time {
      display: inline-block;
      padding: 0 2px 0 0;

      font-weight: 300;
      color: hsl(0%, 0%, 33%);
    }
    .author {
      display: inline-block;
      padding: 0 4px 0 0;

      font-weight: 300;
    }
    i::before {
      width: 1.33em;
      color: hsl(0%, 0%, 40%);
      text-align: center;
    }
    .event {
      color: hsl(0%, 0%, 25%);
    }
    .delayed {
      color: hsl(0%, 100%, 25%);
    }
  }
}
