.chat-box {
  $header-color: hsl(0, 0%, 40%);
  $active-header-color: hsl(0, 0%, 40%);
  $border-color: hsl(0, 0%, 0%);
  $message-border-color: hsl(0, 0%, 85%);
  $composer-color: hsl(0, 0%, 50%);
  $message-font-size: 11pt;

  @include vertical-flexbox;
  
  .title {
    background: $header-color;
    @include border-radius-top(4px);
    padding: 3px 3px 1px;
    
    color: hsl(0, 0%, 100%);
    font-size: 13pt;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
  }
  &.notification {
    background: $active-header-color;
  }

  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
               sans-serif;
  font-size: $message-font-size;
  
  .history, .composer, .notification-area {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
  }

  .history {  
    @include flexbox-rubber-child;
    
    @include vertical-flexbox;
    @include flexbox-pack-end;
    
    padding-top: 2px;
    overflow: auto;
    
    li {
      @include border-radius(2px);
      border: 1px solid $message-border-color;
      padding: 2px 1px;
      margin: 2px 0;

      font-weight: normal;
    }
    
    .time {
      display: inline-block;
      padding: 0 2px 0 0;
      color: hsl(0%, 0%, 50%);
      font-size: 10pt;
    }
    .author {
      display: inline-block;
      padding: 0 4px 0 0;
      color: hsl(0%, 0%, 35%);
      font-size: 10pt;
    }
    .event {
      color: hsl(0%, 0%, 25%);
      font-size: 10pt;
    }
    .delayed {
      color: hsl(0%, 100%, 25%);
    }
  }
  
  .notification-area {
    .desktop-notification-prompt {
      text-align: center;
      
      &.hidden {
        display: none;
      }
    }
    .status-bar {
      color: hsl(0%, 0%, 25%);
      text-align: center;
      font-size: 10pt;
      height: 1.2em;
    }
    .status-bar.info {
      color: hsl(132, 70%, 32%);
    }
    .status-bar.error {
      color: hsl(0, 100%, 44%);
    }
  }
  
  .composer {
    border-bottom: 1px solid $border-color;

    .message {
      border: 1px solid $composer-color;
      margin: 0;
      
      font-family: inherit;
      font-size: inherit;
      line-height: 1.2em;
      
      @include border-box-sizing;
      width: 100%;
      resize: vertical;
      overflow: auto;
      min-height: (4 * 1.2 * $message-font-size);
      max-height: 80%;
    }
  }
}
