// Make form fields look like Google Plus fields.
@mixin pwnplus-text-field(
    $border-color,
    $text-color: inherit,
    $background-color: inherit,
    $hover-border-color: darken($border-color, 19%),
    $hover-shadow-color: lighten($hover-border-color, 22%),
    $focus-border-color: saturate(darken($border-color, 55%), 100%),
    $focus-shadow-color: desaturate(lighten($focus-border-color, 44%), 33%),
    $placeholder-text-color: change-color($border-color, $saturation: 5%,
                                                         $lightness: 68%)
) {
  margin: 0;
  padding: 0.125em 0.5ex;
  border: 1px solid $border-color;
  border-top-color: darken($border-color, 10%);

  @include border-radius(2px);

  color: $text-color;
  font: inherit;
  line-height: inherit;
  text-decoration: none;

  background-color: $background-color;

  @include transition(all .218s);

  &:hover {
    border-color: $hover-border-color;
    border-top-color: darken($hover-border-color, 10%);

    @include box-shadow(inset 0 1px 2px $hover-shadow-color);
  }
  &:focus {
    border-color: $focus-border-color;
    border-top-color: darken($focus-border-color, 10%);
    outline: none;

    @include box-shadow(inset 0 1px 2px $focus-shadow-color);
  }

  &::-webkit-input-placeholder {
    font: inherit;
    text-shadow: none;
    color: $placeholder-text-color;
  }
  &:-moz-placeholder {
    font: inherit;
    text-shadow: none;
    color: $placeholder-text-color;
  }
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// Google Plus-like stylng for box-like form fields (radio, checkbox).
@mixin pwnplus-box-field(
    $border-color,
    $background-color: inherit,
    $hover-border-color: darken($border-color, 19%),
    $hover-shadow-color: lighten($hover-border-color, 22%),
    $focus-border-color: saturate(darken($border-color, 55%), 100%),
    $focus-shadow-color: desaturate(lighten($focus-border-color, 44%), 33%)
) {
  border: 1px solid $border-color;
  background-color: $background-color;
  width: 1em;
  height: 1em;
  vertical-align: -2px;

  @include transition(all .218s);

  &:hover {
    border-color: $hover-border-color;

    @include box-shadow(inset 0 1px 2px $hover-shadow-color);
  }
  &:focus {
    border-color: $focus-border-color;
    outline: none;

    @include box-shadow(inset 0 1px 2px $focus-shadow-color);
  }
}

// Google Plus-like styling for drop-downs.
@mixin pwnplus-select-field(
    $border-color,
    $text-color: inherit,
    $background-color: inherit,
    $hover-border-color: darken($border-color, 19%),
    $hover-shadow-color: lighten($hover-border-color, 22%),
    $focus-border-color: saturate(darken($border-color, 55%), 100%),
    $focus-shadow-color: desaturate(lighten($focus-border-color, 44%), 33%)
) {
  @include pwnplus-text-field(
    $border-color: $border-color,
    $text-color: $text-color,
    $background-color: $background-color,
    $hover-border-color: $hover-border-color,
    $hover-shadow-color: $hover-shadow-color,
    $focus-border-color: $focus-border-color,
    $focus-shadow-color: $focus-shadow-color
  );
  padding: 0.125em 2ex 0.125em 0.5ex;
  text-overflow: ellipsis;
  &:hover, &:focus {
    background-image: asset_data_url("pwnstyles/select-arrow-emph.svg");
  }
  // Animating the arrow SVG is glitchy on Chrome.
  @include transition(all .218s, background-image 0s);
}

// Import to highlight a form field to indicate errors in the input.
@mixin pwnplus-field-error-highlighting(
    $highlight-border: hsl(0deg, 100%, 50%),
    $highlight-background: change-color($highlight-border, $lightness: 97%),
    $highlight-shadow: lighten($highlight-border, 27%)
) {
  border-color: $highlight-border;
  background-color: $highlight-background;

  @include box-shadow(inset 0 1px 2px $highlight-shadow);
}

