<html>
  <head>
    <title>Chatty</title>
    <link rel="stylesheet" href="application.css" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!--[if IE]>
    <script src="lib/jquery.js" type="text/javascript"></script>
    <![endif]-->
    <![if !IE]>
    <script src="lib/zepto.js" type="text/javascript"></script>
    <![endif]>
    <script src="lib/color.js" type="text/javascript"></script>
    <script src="application.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="browser-window">
      <form class="login-box" action="/chat" method="POST">
        <h1 class="title">Chat Entrance</h1>
        <section class="fields">
          <p class="field">
            <label for="login_name" title="Your Name">
              <i class="icon-user icon-large"></i>
            </label>
            <span class="value">
              <input id="login_name" name="name" placeholder="teh_pwnerer"
                     required="required" />
            </span>
          </p>
          <p class="field">
            <label for="login_room" title="Chat Room">
              <i class="icon-comments icon-large"></i>
            </label>
            <span class="value">
              <input id="login_room" name="room" value="main"
                     required="required" />
            </span>
          </p>
          <p class="field">
            <label for="name_color" title="Color">
              <i class="icon-tint icon-large"></i>
            </label>
            <span class="value">
              <select id="name_color" name="name_color" required="required">
                <option value="4F2E17">coffee</option>
                <option value="000000">black</option>
                <option value="264673">blue</option>
                <option value="337326">green</option>
                <option value="602060">purple</option>
                <option value="6C1313">red</option>
              </select>
            </span>
          </p>
        </section>
        <p class="action">
          <button type="submit">
            <i class="icon-signin icon-large"></i>
            Sign in
          </button>
        </p>
      </form>
    </div>
  </body>
</html>
